{#
/**
 * @file
 * Default theme implementation to present a speaker profile entity.
 *
 * This template is used when viewing a canonical speaker profile page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_speaker_profile()
 */
#}
<h1>{{ content[0].name }}</h1>
<h2>blek</h2>
<article{{ attributes }}>
  {{- content -}}
  <h2>bljeh</h2>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
    <h2>imakontent</h2>
  {% endif %}
</article>
